
{{> head}}


        {{> navbar }}

        <div class="row">
            <div class="col-8">
                <h1>Capitan Ameriaca</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae consequatur minus delectus officiis blanditiis ab, obcaecati iusto velit, magnam necessitatibus inventore aliquam ad eius veniam unde voluptates sit dignissimos officia.
                </p>
            </div>

            <div class="col-8">
                <img src="assets/img/capitan-america.png" class="img-thumbnail">
            </div>

        </div>

{{> footer}}